.search-results {
    position: absolute;
    width: 16%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other elements */
}

/* Style for individual search result items */
.search-results .member-item {
    padding: 8px 16px;
    cursor: pointer;
}

/* Style for hover effect on search result items */
.search-results .member-item:hover {
    background-color: #f0f0f0;
}


.selected-member {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.remove-button {
    margin-left: 4px;
    background-color: #ccc;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #999;
}

/* Styles for options */
option {
    padding: 8px; /* Add padding */
    font-size: 14px; /* Set font size */
    color: #333; /* Set text color */
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    font-family: cursive;
}

option:hover {
    background-color: #f0f0f0; /* Lighter background color on hover */
}

option:checked {
    background-color: #007bff; /* Blue background color for selected option */
    color: #fff; /* White text color for selected option */
}

/* add admin Modal Styles start here */
#adminRightsForm {
    font-family: Arial, sans-serif; /* Use a readable font */
    padding: 20px; /* Add padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius */
}

#adminRightsForm label {
    margin-bottom: 5px; /* Add some space below labels */
}

#adminMembers {
    width: 100%; /* Make the select element full width */
    padding: 8px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add some space below the select element */
}

#new-admins {
    max-height: 200px; /* Limit the height of the list */
    overflow-y: auto; /* Add scrollbar if needed */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    padding: 10px; /* Add padding */
}

#add-admin-button {
    background-color: #28a745; /* Green color for contrast */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    font-size: 16px; /* Set font size */
}

#add-admin-button:hover {
    background-color: #218838; /* Darker green color on hover */
}

